
.main {
  background-image: url("./assets/annie-spratt-HNjiK4nsA4w-unsplash.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main h1 {
  font-size: 3rem;
  font-family: 'Zen Dots', cursive;
}

.main .gifts {
  padding: 2.5rem;
  color: white;
  border-radius: 20%;
  border: 3px solid red;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.gifts ul {
  padding: 0;
  font-size: 1.3rem;
}